<h1>You're welcome</h1>

<% if current_user %>
  Hello, <%= current_user.name if current_user %>
  <%= link_to "Logout", logout_path, method: :delete %> 
<% else %> 
  <%= link_to "Login with Twitter", twitter_login_path %>
<% end %>

 <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-left">
            <img src="/Users/Hedy/Desktop/Screen Shot 2016-06-09 at 01.21.47.png"
            class="img-responsive">
            <h1 contenteditable="true" class="text-center text-warning">Pharm2Doctor</h1>
          </div>
        </div>
      </div>
    </div>
